<!doctype html>
<html lang="en-US">
<head>
  <meta charset="UTF-8" />
  <title>Experienced - {{ section.title }}</title>
  <link rel="icon" type="image/png" href="{{ config.base_url }}/logo.png" />
  <link rel="stylesheet" href="{{ config.base_url }}/main.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta
    name="description"
    content="{{ section.description }}"
  />
</head>

<body>
<nav class="top-nav">
  <a href="/" class="menu-title">
    <picture>
      <img
        width="50"
        height="50"
        src="{{ config.base_url }}/logo.png"
        alt="experienced orb"
      />
    </picture>
    <div class="tiny-spacer"></div>
    <div class="bot-name">EXPERIENCED</div>
  </a>
  <div class="flex-grow"></div>
  <input id="menu-toggle" type="checkbox" />
  <label class="menu-button-container" for="menu-toggle">
    <div class="menu-button"></div>
  </label>
  <ul class="menu">
    <li>
      <a class="selfhost-button" href="{{ config.base_url }}/terms/">Terms</a>
    </li>
    <li>
      <a class="selfhost-button" href="{{ config.base_url }}/privacy/">Privacy</a>
    </li>
    <li>
      <a
        class="invite-button"
        href="https://discord.com/api/oauth2/authorize?client_id=1035970092284002384&permissions=0&scope=bot%20applications.commands"
      >Add to Discord</a
      >
    </li>
    <li>
      <a
        class="selfhost-button"
        href="https://github.com/randomairborne/experienced/tree/prod#how-to-self-host-experienced"
      >Selfhost</a
      >
    </li>
  </ul>
</nav>
<main>{% block body %}{% endblock body %}</main>
</body>
<!-- Cloudflare Web Analytics -->
<script
  defer
  src="https://static.cloudflareinsights.com/beacon.min.js"
  data-cf-beacon='{"token": "f6a0a041037d4167bb5ef9458eba4fc5"}'
></script>
<!-- End Cloudflare Web Analytics -->
</html>
