<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <title>Experienced - {% block title %}{% endblock title %}</title>
    <link rel="icon" type="image/png" href="{{ root_url }}/favicon.png" />
    <link rel="stylesheet" href="{{ root_url }}/main.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content="Experienced discord bot" />
    <meta property="og:url" content="{{ root_url }}/" />
    <meta
      property="og:description"
      content="{% block description %}{% endblock description %}"
    />
    <meta property="og:determiner" content="the" />
    <meta property="og:site_name" content="Experienced" />
    {#
    <meta name="description" content="{{ ?? description ?? }}" />
    #} {% block extraheaders %}{% endblock extraheaders %}
  </head>

  <body>
    <nav class="top-nav">
      <a href="/" class="menu-title">
        <img
          src="{{ root_url }}/favicon.png"
          width="50"
          height="50"
          alt="Experience orb"
        />
        <div class="tiny-spacer"></div>
        <div class="bot-name">EXPERIENCED</div>
      </a>
      <div class="flex-grow"></div>
      <input id="menu-toggle" type="checkbox" />
      <label class="menu-button-container" for="menu-toggle">
        <div class="menu-button"></div>
      </label>
      <ul class="menu">
        <li>
          <a class="selfhost-button" href="{{ root_url }}/terms/">Terms</a>
        </li>
        <li>
          <a class="selfhost-button" href="{{ root_url }}/privacy/">Privacy</a>
        </li>
        <li>
          <a
            class="invite-button"
            href="https://discord.com/api/oauth2/authorize?client_id=1035970092284002384&permissions=0&scope=bot%20applications.commands"
            >Add to Discord</a
          >
        </li>
        <li>
          <a
            class="selfhost-button"
            href="https://github.com/randomairborne/experienced/tree/prod#how-to-self-host-experienced"
            >Selfhost</a
          >
        </li>
      </ul>
    </nav>
    <main>{% block body %}{% endblock body %}</main>
  </body>
</html>
