<footer>
  <div>
    <p>
      <strong>
        This website copyright &copy; 2024 valkyrie_pilot. All rights reserved.
      </strong>
      <br />
      This website uses <a href="https://www.cloudflare.com/web-analytics/">
      Cloudflare Web Analytics</a
    >, a privacy-friendly analytics system.
    </p>
  </div>
</footer>
<style>
    footer {
        background-color: #444444;
        flex-grow: 0;
        margin-top: 5ch;
        text-align: center;
        min-width: 100vw;
    }
</style>
