<div class="footer">
  <div class="become-tall"></div>
  <footer>
    <div>
      <p>
        <strong>
          This website copyright &copy; 2023 valkyrie_pilot. All rights
          reserved.
        </strong>
        <br />
        This website uses <a href="https://www.cloudflare.com/web-analytics/">
        Cloudflare Web Analytics</a
      >, a privacy-friendly analytics system.
      </p>
    </div>
  </footer>
</div>
<style>
    div.become-tall {
        display: flex;
        flex-grow: 1;
    }

    div.footer {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        align-items: center;
    }

    footer {
    }
</style>
