---
const { filled, href }: { filled: boolean; href: string } = Astro.props;
const fillClass = filled ? "filled" : "outlined";
---

<a href={href} class={fillClass}>
  <slot />
</a>

<style>
  a {
    margin: 0.1ch;
    border-color: #7289da;
    border-style: solid;
    padding: 0.5ch;
    text-decoration: none;
    border-radius: 1ch;
    font-size: larger;
    width: max-content;
  }

  a.filled {
    color: #000000;
    background-color: #7289da;
  }

  a.filled:visited {
    color: #000000;
  }

  a.outlined {
    color: #ffffff;
  }

  a.outlined:visited {
    color: #ffffff;
  }

  a.outlined:hover {
    transition-duration: 200ms;
    background-color: #7289da25;
  }
</style>
