---

---

<span><slot /></span>
<style>
  span {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-image: linear-gradient(#eeffee, #444477);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }
</style>
