{% extends "base.html" %}
{% block title %} The best leveling bot on Discord. {% endblock title %}
{% block description %} Experienced is a discord bot to track your levels in a cool,
efficient way. {% endblock description %}
{% block body %}
<div class="bot-name big">EXPERIENCED</div>
<div class="title">The best leveling bot on Discord.</div>
<div class="subtitle">
  Set up custom cards for free, import MEE6 levels, and level up to the stars
  with Experienced!
</div>
<div class="features">
  <ul class="feature-list">
    <li class="list-spacer">Free custom cards</li>
    <li class="list-spacer">No NFTs or superfluous features</li>
    <li class="list-spacer">MEE6 compatible - Easy to switch</li>
    <li class="list-spacer">Open-Source and ready to selfhost</li>
  </ul>
</div>
<div class="invite-button-container">
  <a
    class="invite-button"
    href="https://discord.com/api/oauth2/authorize?client_id=1035970092284002384&permissions=0&scope=bot%20applications.commands"
    >Add to Discord</a
  >
  <div class="tiny-spacer"></div>
  <a
    class="selfhost-button"
    href="https://github.com/randomairborne/experienced/tree/prod#how-to-self-host-experienced"
    >Selfhost</a
  >
</div>
  <div class="title">Why experienced?</div>
<div class="why-paragraph">
  <div class="why-title">It&apos;s Open Source</div>
  Experienced is fully open-source, so you can verify that it doesn&apos;t collect
  your data or the data of the users in your server. Even if you don't trust that,
  you can check the &quot;Data Access&quot; section of the bot's Discord profile and
  note the lack of &quot;Read Messages&quot;. You can even host your own instance for
  added
</div>
<div class="why-paragraph">
  <div class="why-title">There Are No Paywalls</div>
  Experienced is run by a single person and is written to make use of its resources as
  efficiently as possible. This allows it to easily be funded out of pocket- but donations
  are greatly appreciated. You can donate via
  <a href="https://github.com/sponsors/randomairborne">GitHub sponsors</a>,
  of which 100% will go to funding bot hosting and development. Many features locked behind
  paywalls in other bots, such as automated role assignment and card customization,
  are absolutely free in experienced.
</div>
<div class="why-paragraph">
  <div class="why-title">It&apos;s Super Customizable</div>
  Experienced is designed for customizability. You control every aspect of your rank card,
  from the font to the layout and color of the progress bar. Create custom cards with ease,
  or copy them from your friends with the card fetch command. Control is everything, and
  experienced gives you as much as possible.
</div>
{% endblock body %}
