{% extends "base.html" %}
{% block title %} The best leveling bot on Discord. {% endblock title %}
{% block description %} Experienced is a discord bot to track your levels in a cool,
efficient way. {% endblock description %}
{% block body %}
<div class="bot-name big">EXPERIENCED</div>
<div class="title">The best leveling bot on Discord.</div>
<div class="subtitle">
  Set up custom cards for free, import MEE6 levels, and level up to the stars
  with Experienced!
</div>
<div class="features">
  <ul class="feature-list">
    <li class="list-spacer">Free custom cards</li>
    <li class="list-spacer">No NFTs or superfluous features</li>
    <li class="list-spacer">MEE6 compatible - Easy to switch</li>
    <li class="list-spacer">Open-Source and ready to selfhost</li>
  </ul>
</div>
<div class="invite-button-container">
  <a
    class="invite-button"
    href="https://discord.com/api/oauth2/authorize?client_id=1035970092284002384&permissions=0&scope=bot%20applications.commands"
    >Add to Discord</a
  >
  <div class="tiny-spacer"></div>
  <a
    class="selfhost-button"
    href="https://github.com/randomairborne/experienced/tree/prod#how-to-self-host-experienced"
    >Selfhost</a
  >
</div>
{% endblock body %}
