{% extends "base.html" %}
{% block title %} Server leaderboard {% endblock title %}
{% block description %} Experienced is a discord bot to track your levels in a cool,
efficient way. View your server leaderboard here. {% endblock description %}
{% block extraheaders %}
<meta name="robots" content="noindex">
{% endblock extraheaders %}
{% block body %}
  </div>
  <table class="leaderboard">
    {% for user in users %}
    <tr class="leaderboard-user">
      <td>{{ loop.index + offset }}.<td>
      <td class="leaderboard-user-name">
        {% if user.name %}
        {{ user.name }}
        {% if user.discriminator %}#{{ user.discriminator }}{% endif %}
        {% else %}
        {{ user.id }}
        {% endif %}
      </td>
      <td class="leaderboard-user-level">{{ user.level }}</td>
    </tr>
    {% endfor %}
  </table>
  <a
    class="selfhost-button"
    href="{{ root_url }}/{{ guild_id }}?page={{ page - 1 }}">
    Last page
    </a>
  <a
    class="invite-button"
    href="{{ root_url }}/{{ guild_id }}?page={{ page + 1 }}">
    Next page
    </a>
{% endblock body %}