<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <table>
            <tr>
                <th>User</th>
                <th>Rank</th>
                <th>Level</th>
              </tr>
              {% for user in users %}
              <tr>
                <td>{% if user.name is undefined or user.discriminator is undefined %}
                  {{ user.name }}#{{ user.discriminator }}
                  {% else %}
                  {{ user.id }}
                  {% endif %}
                </td>
                <td>{{ loop.index }}</td>
                <td>{{ user.level }}</td>
              </tr>
              {% endfor %}
        </table>
    </body>
</html>