@media (prefers-color-scheme: light) {
    body {
        background-color: white;
        color: black;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: whitesmoke;
    }
}

body {
    font-family: Helvetica, sans-serif;
}
