html,
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #333333;
  color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
}

main {
  max-width: 90vw;
}

.bot-name {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-image: linear-gradient(#eeffee, #444477);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

a {
  color: aqua;
}

a:visited {
  color: aqua;
}

.big {
  width: 100%;
  margin-top: 10vh;
  font-size: xx-large;
}

.stack-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-button-pad {
  margin-top: 5vh;
}

.navbar {
  display: flex;
  align-items: center;
  flex-direction: row;
  text-decoration: none;
  white-space: nowrap;
}

.flex-grow {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
}

.title {
  width: 100%;
  font-size: xx-large;
  padding: 1vw;
}

.subtitle {
  font-size: x-large;
  text-wrap: normal;
}

.features {
  width: 100%;
  justify-content: center;
  display: flex;
}

.feature-list {
  text-align: left;
  width: 40%;
}

.list-spacer {
  padding-top: 1vh;
  font-size: large;
}

.invite-button-container {
  width: 40%;
  padding: 1vh;
  display: flex;
  justify-content: left;
}

.invite-button {
  color: #000000;
  background-color: #7289da;
  border-color: #7289da;
  border-style: solid;
  padding: 1vh;
  text-decoration: none;
  border-radius: 10px;
  font-size: larger;
  width: fit-content;
}

.invite-button:visited {
  color: #000000;
}

.tiny-spacer {
  width: 8px;
}

.selfhost-button {
  color: #ffffff;
  border-color: #7289da;
  border-style: solid;
  padding: 1vh;
  text-decoration: none;
  border-radius: 10px;
  font-size: larger;
}

.selfhost-button:visited {
  color: #ffffff;
}

.selfhost-button:hover {
  transition-duration: 200ms;
  background-color: #7289da25;
}

.policy {
  text-align: left;
  width: 60%;
  margin: 5vw;
}

.leaderboard {
  list-style: none;
}

.leaderboard-user {
  font-size: x-large;
}

.leaderboard-user-level {
  color: aqua;
}

.leaderboard-user-name {
  text-align: start;
  min-width: 20ch;
}

.why-title {
  font-size: x-large;
}

.why-paragraph {
  max-width: 50vw;
  padding: 1.5ch;
}

.top-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  height: 50px;
  width: 100vw;
  padding-bottom: 1em;
  padding-left: 5%;
  padding-right: 5%;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 3px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-title {
  font-size: xx-large;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }

  .why-paragraph {
    max-width: 90vw;
  }
}
