name: PR check
on:
  pull_request:
  workflow_dispatch:
  workflow_call:

jobs:
  cargo-tests:
    runs-on: ubuntu-latest
    container: rust:latest
    services:
      # Label used to access the service container
      postgres:
        # Docker Hub image
        image: postgres:latest
        # Provide the password for postgres
        env:
          POSTGRES_PASSWORD: postgres
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
      - name: Check out code into the proper directory
        uses: actions/checkout@v5

      - name: Correct ownership information
        run: chown root:root .

      - name: Rust cache
        uses: Swatinem/rust-cache@v2

      - name: Run tests
        run: cargo test --all
        env:
          # this seems weird, but I don't want to run the migrations for the build, so we do the build offline and then
          # connect to the database for tests
          DATABASE_URL: postgres://postgres:postgres@postgres/postgres
          SQLX_OFFLINE: true

  rust-clippy:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code into the proper directory
        uses: actions/checkout@v5

      - name: Rust cache
        uses: Swatinem/rust-cache@v2

      - name: Install cargo
        uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy

      - name: Run clippy
        run: cargo clippy --all -- -D warnings
        env:
          SQLX_OFFLINE: true

  rust-fmt:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code into the proper directory
        uses: actions/checkout@v5

      - name: Install cargo
        uses: dtolnay/rust-toolchain@nightly
        with:
          components: rustfmt

      - name: Check rust formatting
        run: cargo +nightly fmt --check --all

  js-fmt:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code into the proper directory
        uses: actions/checkout@v5

      - name: Set up node
        uses: actions/setup-node@v5

      - name: Install NPM deps
        run: npm install
        shell: bash

      - name: Check web formatting
        run: npm run prettier-check
