name: CI
on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  SQLX_OFFLINE: true

jobs:
  check:
    uses: ./.github/workflows/check.yml

  build:
    runs-on: ubuntu-latest
    needs: [check]
    steps:
      - name: Check out code into the proper directory
        uses: actions/checkout@v3

      - name: Install cargo
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: x86_64-unknown-linux-musl

      - name: Cache rust
        uses: Swatinem/rust-cache@v2

      - name: Install musl-dev
        run: sudo apt install musl-dev musl-tools

      - name: Build executables
        run: cargo b --release --target x86_64-unknown-linux-musl

      - name: Upload executables
        uses: actions/upload-artifact@v3
        with:
          name: executables
          path: |
            target/x86_64-unknown-linux-musl/release/experienced-slash
            target/x86_64-unknown-linux-musl/release/experienced-listener

  deploy:
    runs-on: ubuntu-latest
    needs: [build]
    strategy:
      fail-fast: true
      matrix:
        side: [listener, slash]
    steps:
      - name: Correct env
        run: echo "REPO=${GITHUB_REPOSITORY,,}" >>${GITHUB_ENV}

      - name: Check out code into the proper directory
        uses: actions/checkout@v3

      - name: Download executables
        uses: actions/download-artifact@v3
        with:
          name: executables
          path: executables

      - name: chmod +x
        run: chmod +x ./executables/*

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build container
        uses: docker/build-push-action@v3
        with:
          file: ${{ matrix.side }}/Dockerfile
          context: .
          push: true
          tags: ghcr.io/${{ env.REPO }}-${{ matrix.side }}:latest
          platforms: linux/amd64
